body{
  background-color: #acacac;
}

.formInputs{
  margin: auto;
  margin-top: 50px;
  padding: 0%;
  display: flex;
  justify-content: center;
}
.symbolInputBox{
  width: 300px;
  margin: auto;
}
.userNameInputBox{
  width: 300px;
}
.userName{
  display: flex;
  justify-content: center;
  margin-top: 0%;
}
.passwordIs{
  display: flex;
  justify-content: center;
}
.userPassword{
  width: 400px;
}
.PassCopyButton{
  height: 40px;
  margin-top: 30px;
}
.passGenBtn{
  display: flex;
  justify-content: center;
}
.conPress{
  color: gray;
  display: flex;
  justify-content: center;
}
p{
  color: red;
  padding-right: 2px;
}
label{
  display: flex;
}

.logo{
  width: 120px;
  transition: 0.4s;
}
.logo:hover{
  width: 150px;
}